aiofiles==0.5.0
aliyun-python-sdk-core==2.13.16
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.10.1
appdirs==1.4.3
Brotli==1.0.7
certifi==2020.4.5.1
chardet==3.0.4
crcmod==1.7
emoji==0.5.4
fonttools==4.9.0
fs==2.4.11
h11==0.9.0
h2==3.2.0
hpack==3.0.0
httpcore==0.8.4
httptools==0.1.1
hyperframe==5.2.0
idna==2.9
jmespath==0.9.5
lxml==4.5.0
multidict==4.7.5
oss2==2.10.0
pycryptodome==3.9.7
pytz==2020.1
requests==2.23.0
requests-async==0.6.2
rfc3986==1.4.0
sanic==19.12.2
six==1.14.0
ujson==2.0.3
urllib3==1.25.9
uvloop==0.14.0
websockets==8.1
