aiofiles==0.6.0
aliyun-python-sdk-core==2.13.33
aliyun-python-sdk-core-v3==2.13.32
aliyun-python-sdk-kms==2.14.0
appdirs==1.4.4
Brotli==1.0.9
certifi==2022.6.15.1
chardet==4.0.0
crcmod==1.7
emoji==1.2.0
fonttools==4.24.4
fs==2.4.13
h11==0.12.0
h2==4.0.0
hpack==4.0.0
httpcore==0.12.3
httptools==0.1.1
hyperframe==6.0.0
idna==3.1
jmespath==0.10.0
lxml==4.6.3
multidict==5.1.0
oss2==2.14.0
pycryptodome==3.10.1
pytz==2021.1
requests==2.25.1
requests-async==0.6.2
rfc3986==1.4.0
sanic==21.3.2
six==1.15.0
ujson==4.0.2
urllib3==1.26.4
uvloop==0.15.2
websockets==8.1
