aiofiles==0.5.0
aliyun-python-sdk-core==2.13.20
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-kms==2.10.1
appdirs==1.4.4
Brotli==1.0.7
certifi==2020.6.20
chardet==3.0.4
crcmod==1.7
emoji==0.5.4
fonttools==4.12.1
fs==2.4.11
h11==0.9.0
h2==3.2.0
hpack==3.0.0
httpcore==0.9.1
httptools==0.1.1
hyperframe==5.2.0
idna==2.10
jmespath==0.10.0
lxml==4.5.2
multidict==4.7.6
oss2==2.12.1
pycryptodome==3.9.8
pytz==2020.1
requests==2.24.0
requests-async==0.6.2
rfc3986==1.4.0
sanic==20.6.3
six==1.15.0
ujson==3.0.0
urllib3==1.25.9
uvloop==0.14.0
websockets==8.1
